
<form class="bg-info container" action="" id="form_clearSelection">
    <div class="form-group">
        <h4>BaseViewer3d.clearSelection();</h4>
        <h5>Clear any current selection set.</h5>
        <button id="bn_clearSelection" class="btn btn-primary">Clear Selection</button>
    </div>
</form>

<script>
    $("#bn_clearSelection").click(function(evt) {  
        evt.preventDefault();

        viewer.clearSelection();
    });
    
    console.log("LmvDbg: loaded code snippet [click to see source in debugger -->]");

</script>