
<form class="bg-info container" action="" id="form_explode">
    <div class="form-group">
        <h4>Viewer3d.getExplodeScale();</h4>
        <h5>Returns the explode scale</h5>
        <button id="bn_getExplodeScale" class="btn btn-primary">Get Explode Scale</button>
        
        <h4>Viewer3d.explode(scale);</h4>
        <h5>Explodes the model from the center of gravity.</h5>
        <label for="sldr_explode">Explode {0.0 - 1.0}</label>
        <div class="input-group">
            <input class="form-control" name="explode" id="sldr_explode" type="range" step=".01" min="0.0" max="1.0" value="0">
            <span class="input-group-addon" id="txt_explode">0.0</span>
        </div>
    </div>
</form>

<script>
    $("#bn_getExplodeScale").click(function(evt) {  
        evt.preventDefault();
                 
        var curScale = _viewer.getExplodeScale();
        alert("Current Explode Scale: " + curScale);
    });
    
    $("#sldr_explode").on("input", function(evt) {  
        evt.preventDefault();
        
        if (_viewer.model.is2d())
            console.log("LmvDbg: loaded asset is 2D, calling explode() is not advised!");
        
        var newValue = this.value;
        console.log("Setting explode = " + newValue);
        $('#txt_explode').html(newValue);
        _viewer.explode(newValue);
    });
    
        // get the current value of Explode and set the sliders current value accordingly
    var curExplode = _viewer.getExplodeScale();
    $("#sldr_explode").val(curExplode);
    $("#txt_explode").html(curExplode);
    
    console.log("LmvDbg: loaded code snippet [click to see source in debugger -->]");

</script>