
<form class="bg-info container" action="" id="form_hideAllShowAll">
    <div class="form-group">
        <h4>Viewer3d.allAreVisible();</h4>
        <h5>Returns true if every node is visible.</h5>
        <button id="bn_areAllVisible" class="btn btn-primary">Are All Visible?</button>
        
        <h4>Viewer3d.hideAll();</h4>
        <h5>Ensures everything is invisible. (** NOT IMPLEMENTED YET **)</h5>
        <button id="bn_hideAll" class="btn btn-danger">Hide All</button>
        
        <h4>Viewer3d.showAll();</h4>
        <h5>Ensures everything is visible.</h5>
        <button id="bn_showAll" class="btn btn-primary">Show All</button>
        
        <h4>Viewer3d.anyLayerHidden();</h4>
        <h5>Returns true if any layer is hidden.</h5>
        <button id="bn_anyLayerHidden" class="btn btn-primary">Any Layer Hidden?</button>
        
        <h4>Viewer3d.getHiddenNodes();</h4>
        <h5>Returns array of hidden nodes to debugger console.</h5>
        <button id="bn_getHiddenNodes" class="btn btn-primary">Get Hidden Nodes</button>
        
        <h4>Viewer3d.getIsolatedNodes();</h4>
        <h5>Returns array of isolated nodes to debugger console.</h5>
        <button id="bn_getIsolatedNodes" class="btn btn-primary">Get Isolated Nodes</button>
    </div>
</form>

<script>
    $("#bn_areAllVisible").click(function(evt) {  
        evt.preventDefault();
        if (_viewer.areAllVisible())
            alert("TRUE - they are");
        else
            alert("FALSE - they are not");
    });
    
    $("#bn_hideAll").click(function(evt) {  
        evt.preventDefault();
        _viewer.hideAll();
    });
            
    $("#bn_showAll").click(function(evt) {  
        evt.preventDefault();
        _viewer.showAll();
    });
    
    $("#bn_anyLayerHidden").click(function(evt) {  
        evt.preventDefault();
        if (_viewer.anyLayerHidden())
            alert("TRUE - there is");
        else
            alert("FALSE - none are hidden");
    });
    
    $("#bn_getHiddenNodes").click(function(evt) {  
        evt.preventDefault();
        var nodes = _viewer.getHiddenNodes();
        console.log("Hidden Nodes: %O", nodes);
    });
    
    $("#bn_getIsolatedNodes").click(function(evt) {  
        evt.preventDefault();
        var nodes = _viewer.getIsolatedNodes();
        console.log("Isolated Nodes: %O", nodes);
    });
    
    console.log("LmvDbg: loaded code snippet [click to see source in debugger -->]");

</script>