
<form class="bg-info container" action="" id="form_setGhosting">
    <div class="form-group">
        <h4>BaseViewer3d.setGhosting(setToOn);</h4>
        <h5>Toggles ghosting during search and isolate.</h5>
        <div class="checkbox">
            <label>
                <input id="cb_ghosting" type="checkbox"> Ghosting
            </label>
        </div>
    </div>
</form>

<script>
    $("#cb_ghosting").change(function(evt) {  
        evt.preventDefault();
        viewer.setGhosting($("#cb_ghosting").is(":checked"));
    });
    
    console.log("LmvDbg: loaded code snippet [click to see source in debugger -->]");

</script>